<!-- Begin MailChimp Signup Form -->
<section>
<form action="http://csworkflow.us4.list-manage.com/subscribe/post?u=40202c99501cacbc72d9a5487&amp;id=68a5ad2370" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate newsletter-subscribe" target="_blank" novalidate>
	<h4>Newsletter</h4>
  <p class="small">Subscribe to our monthly(ish) content-focused newsletter</p>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_40202c99501cacbc72d9a5487_68a5ad2370" tabindex="-1" value=""></div>
  <div class="clear submit"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button radius"></div>
</form>
</section>

<!--End mc_embed_signup-->