    <footer>
      <div class="row">
        <div class="small-12 medium-10 large-12 medium-centered columns">
          <form class="form signup">
            <div class="row">
              <div class="field input-with-icon small-12 medium-5 columns">
                <input type="text" name="name" placeholder="Name" required>
                <i class="li_user icon-user"></i>
              </div>
              <div class="field input-with-icon small-12 medium-5 columns">
                <input type="email" name="email" placeholder="Email" required>
                <i class="li_mail icon-mail"></i>
              </div>
              <div class="small-12 medium-2 columns">
                <input type="submit" class="button small radius" value="Join the beta">
              </div>
            </div>
          </form>
          <div class="heading">
            <h3>Contact</h3>
          </div>
          <div class="text-center">
            <div class="contact-details">
              <div class="contact twitter">
                <i class="icon-twitter"></i><a href="https://twitter.com/cs_workflow" target="_blank">@cs_workflow</a>
              </div>
              <div class="contact email">
                <i class="icon-mail"></i><a href="mailto:hello@csworkflow.com">hello@csworkflow.com</a>
              </div>
            </div>
          </div>
          <div class="copyright">
            &copy; 2013 CS Workflow
          </div>
        </div>
      </div>
    </footer>