html, body { height: 100%; }
body { background: #fff; }
header { background-color: rgb(70, 70, 70); padding: 0; }
footer { padding: 30px 0 20px 0; background-color: #f3f3f4; }
ul { list-style: circle; }
footer h3,
footer .contact-details { background-color: rgb(70, 70, 70); background-color: rgba(70, 70, 70, 0.7); }
img.bordered { background-color: #fff; border: 3px solid #fff; }
img.csw-logo { width: 192px; padding: 15px 0; }
.sub-nav { margin-bottom: 0 }
.sub-nav dd { display: inline-block; padding: 17px 10px 13px 10px; margin-bottom: 0; }
.sub-nav dd a { color: #fff; }
.sub-nav dd a:hover { color: #c3e6e2; }
.sub-nav dd.active { border-bottom: 5px solid #c3e6e2; line-height: 1.8em; }
p.lead { font-size: 1.1rem !important; line-height: 1.5rem; }
h1.posts-intro { height: 0 !important; text-indent: -1000rem; }
.post-meta { color: #777; font-weight: 300; }
.post-content { margin: 30px 0; padding-bottom: 20px; }
.posts .post-content { border-bottom: 1px solid #f3f3f4; }
.posts .post-content:last-child { border-bottom: 0; }
.heading { text-align: center;}
.heading h2, .heading h3 { display: inline-block; color: #fff; padding: 0 5px; }
form.signup .field { margin-bottom: 10px; }
form.signup .field input { display: block; width: 100%; }
input[type=text], input[type=email] {
	margin: 0;
	padding: .85em 1.2em;
	font-size: .875em;
	background-color: #FFF;
	border: 1px solid rgba(0,0,0,.15);
	outline: 0;
	color: rgba(0,0,0,.7);
	border-radius: .3125em;
	-webkit-box-shadow: 0 0 rgba(0,0,0,.3) inset;
	box-shadow: 0 0 rgba(0,0,0,.3) inset;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
input[type=text]:focus, input[type=email]:focus {
	border-color: #6bb3aa;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
.input-with-icon { position: relative;}
.input-with-icon input { padding-left: 2.5em; }
.input-with-icon i {
	cursor: default;
	position: absolute;
	opacity: .5;
	top: 0;
	left: 0;
	margin: 0;
	width: 2.6em;
	height: 100%;
	padding-top: .82em;
	text-align: center;
}
.input-with-icon.columns i { left: 1em; }
.input-with-icon input:focus + i { opacity: 1; }
footer h3, footer .contact-details { color: #fff; display: inline-block; text-align: center; }
footer .contact { padding: 3px; }
footer .contact a { color: #fff; }
footer .contact a:hover { color: #c3e6e2; }
footer .copyright { margin-top: 30px; font-size: 0.8em; color: #999; text-align: center; }

@media only screen and (min-width: 40.063em) { 
	footer .contact { display: inline-block; }
}